body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(255, 193, 255);
}
.container {
  margin: 120px auto;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
  box-shadow: 0px -37px 46px -21px rgba(209, 128, 26, 0.75);
  -webkit-box-shadow: 0px -37px 46px -21px rgba(209, 128, 26, 0.75);
  -moz-box-shadow: 0px -37px 46px -21px rgba(209, 128, 26, 0.75);
  padding: 7px;
}
h1 {
  text-align: center;
  font-size: 60px;
  line-height: 1.5;
  margin: 0;
}
form {
  display: flex;
  margin-bottom: 20px;
}
.form-input {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  font-size: 17px;
  padding: 10px 5px;
}
form input {
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
  border: 4mm ridge rgba(162, 25, 221, 0.6);
}
.form-button {
  color: #0000;
  background: linear-gradient(90deg, #ca7aec 50%, #000 0) var(--_p, 100%) / 200%
    no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.4s;
  font-weight: bold;
  padding: 10px 5px;
  font-size: 17px;
}
.form-button:hover {
  --_p: 0%;
}
.poem {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
  width: 58%;
  line-height: 20px;
  padding: 5px;
  border-left: 3px solid #ca7aec;
  margin-bottom: 20px;
}
.ai-text-generation-space {
  text-align: center;
}
footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  opacity: 0.8;
  width: 56.5%;
  padding: 10px;
}
.footer-container {
  box-shadow: 0px 48px 46px -21px rgba(209, 128, 26, 0.75);
  -webkit-box-shadow: 0px 48px 46px -21px rgba(209, 128, 26, 0.75);
  -moz-box-shadow: 0px 48px 46px -21px rgba(209, 128, 26, 0.75);
}
